annotated-types==0.7.0
certifi==2026.1.4
charset-normalizer==3.4.6
click==8.4.2
colorama==0.4.6
configmypy==0.2.0
contourpy==1.3.3
cycler==0.12.1
donfig==0.8.1.post1
filelock==3.32.0
fonttools==4.63.0
fsspec==2026.6.0
google-crc32c==1.8.0
h5py==3.16.0
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.11.1
mpmath==1.3.0
networkx==3.6.1
neuraloperator==1.0.2
numcodecs==0.16.5
numpy==2.5.1
opt_einsum==3.4.0
packaging==26.2
pillow==12.3.0
platformdirs==4.3.8
pluggy==1.6.0
protobuf==7.35.1
psutil==7.2.2
pydantic==2.12.5
pydantic_core==2.41.5
pymupdf==1.28.0
pyparsing==3.3.2
pypdf==6.14.2
pytest==9.1.1
python-dateutil==2.9.0.post0
python-flint==0.9.0
PyYAML==6.0.3
requests==2.32.5
ruamel.yaml==0.19.1
scikit-fem==12.0.2
scipy==1.18.0
sentry-sdk==2.66.1
setuptools==83.0.0
six==1.17.0
sympy==1.14.0
tensorly==0.9.0
tensorly-torch==0.5.0
torch==2.13.0
torch_harmonics==0.7.3
tqdm==4.67.1
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.6.3
wandb==0.28.1
xxhash==3.6.0
zarr==3.1.6
